body {
    margin: 0;                 
    height: 100vh;             
    display: flex;
    justify-content: center;   
    align-items: center;      
    background-color: #f0f0f0;
}
.beauty{
	display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    background-color: #d4f4dd; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
}
input{
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
}
.select {
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
}
button {
	width: 100px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #1b5e20;
}
.#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}