@media all{
	h1{
	font-family: "Edwardian Script ITC";
	background-color: #C7C2C2;
	color: #554E4E;}
ul.navbar{
	color: wheat;
	background-color: grey;
	position: relative;
	top: 0em;
    left: 0em;
    width: 75em;
    justify-content: center;
    display: flex;
    list-style: none;
}
.dropdown-content{
	color: white;       
    background-color: #2c3e50;
    position: absolute;
    min-width: 10px;
    padding: 10px 0;
    border-radius: 5px;
    top: 100%;
    left: 43em;
}
body {
    color: #3D3838;
    background-color: #F3F2F2;
    font-family: Dubai;
}
}
@media print{
	h1{
	font-family: Corbel;
	background-color: #C7C2C2;
	color: #554E4E;}
}
